*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
*.xcuserstate
*.xcbkptlist
!/.idea/codeStyles/*
!/.idea/inspectionProfiles/*
/gradle/wrapper/gradle-wrapper.jar
/gradlew
/gradlew.bat
*.hprof
*.klib
/Flywheel.wiki/

# XCFramework build output (regenerate via: ./gradlew :flywheel:copyXCFrameworkToRepo)
flywheel/xcframework/
